body {
    background-image: url('../assets/img1.png');
}

.container {
    margin-top: 17.2rem;

    text-align: center;
}

.container h1 {
    margin-bottom: 2.8rem;
}

.container button {
    padding: 1.2rem 3.2rem;

    background: transparent;
    border: .2rem solid var(--color-white);
    border-radius: .5rem;

    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;

    transition: background 0.3s;
}

.container button:hover {
    background: var(--color-white);

    color: var(--color-alternative-button);
}